html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 51.2rem;
  height: 164.667rem;
  overflow: hidden;
}

.section_1 {
  width: 51.2rem;
  height: 38.747rem;
  margin-top: 24rem;
}

.block_1 {
  background-color: rgba(255, 255, 255, 1);
  width: 51.2rem;
  height: 15.6rem;
  margin-top: 0.187rem;
}

.text_1 {
  width: 5.84rem;
  height: 2.107rem;
  overflow-wrap: break-word;
  color: rgba(46, 47, 62, 1);
  font-size: 1.493rem;
  font-family: Poppins-SemiBold;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 2.267rem;
  margin: 3.2rem 0 0 22.667rem;
}

.group_1 {
  background-color: rgba(69, 64, 214, 1);
  border-radius: 7px;
  width: 3.147rem;
  height: 0.107rem;
  margin: -0.107rem 0 0 24.027rem;
}

.list_1 {
  width: 31.467rem;
  height: 6.56rem;
  justify-content: space-between;
  margin: 1.6rem 0 2.134rem 9.867rem;
}

.list-items_1-0 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 10.134rem;
  height: 6.56rem;
  border: 1px solid rgba(230, 231, 241, 1);
  margin-right: 0.534rem;
}

.image_1-0 {
  width: 2.134rem;
  height: 2.134rem;
  margin: 1.067rem 0 0 4rem;
}

.text_2-0 {
  width: 9.067rem;
  height: 1.494rem;
  overflow-wrap: break-word;
  color: rgba(46, 47, 62, 1);
  font-size: 0.533rem;
  font-family: Poppins-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 0.8rem;
  margin: 0.907rem 0 0.96rem 0.534rem;
}

.list-items_1-1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 10.134rem;
  height: 6.56rem;
  border: 1px solid rgba(230, 231, 241, 1);
  margin-right: 0.534rem;
}

.image_1-1 {
  width: 2.134rem;
  height: 2.134rem;
  margin: 1.067rem 0 0 4rem;
}

.text_2-1 {
  width: 9.067rem;
  height: 1.494rem;
  overflow-wrap: break-word;
  color: rgba(46, 47, 62, 1);
  font-size: 0.533rem;
  font-family: Poppins-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 0.8rem;
  margin: 0.907rem 0 0.96rem 0.534rem;
}

.list-items_1-2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 10.134rem;
  height: 6.56rem;
  border: 1px solid rgba(230, 231, 241, 1);
  margin-right: 0.534rem;
}

.image_1-2 {
  width: 2.134rem;
  height: 2.134rem;
  margin: 1.067rem 0 0 4rem;
}

.text_2-2 {
  width: 9.067rem;
  height: 1.494rem;
  overflow-wrap: break-word;
  color: rgba(46, 47, 62, 1);
  font-size: 0.533rem;
  font-family: Poppins-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 0.8rem;
  margin: 0.907rem 0 0.96rem 0.534rem;
}

.block_2 {
  background-color: rgba(255, 255, 255, 1);
  width: 51.2rem;
  height: 22.934rem;
  margin-bottom: 0.027rem;
}

.text-wrapper_1 {
  width: 29.014rem;
  height: 2.107rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: Poppins-SemiBold;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 2.267rem;
  margin: 3.2rem 0 0 11.094rem;
}

.text_3 {
  width: 29.014rem;
  height: 2.107rem;
  overflow-wrap: break-word;
  color: rgba(46, 47, 62, 1);
  font-size: 1.493rem;
  font-family: Poppins-SemiBold;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.267rem;
}

.text_4 {
  width: 29.014rem;
  height: 2.107rem;
  overflow-wrap: break-word;
  color: rgba(69, 64, 214, 1);
  font-size: 1.493rem;
  font-family: Poppins-SemiBold;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.267rem;
}

.block_3 {
  background-color: rgba(69, 64, 214, 1);
  border-radius: 7px;
  width: 10.027rem;
  height: 0.107rem;
  margin-left: 28.2rem;
}

.block_4 {
  width: 31.414rem;
  height: 11.094rem;
  margin: 2.56rem 0 3.867rem 9.92rem;
}

.block_5 {
  width: 15.414rem;
  height: 10.774rem;
}

.text-group_1 {
  width: 15.414rem;
  height: 5.814rem;
}

.text-wrapper_2 {
  width: 15.414rem;
  height: 1.76rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: Poppins-Bold;
  font-weight: 700;
  text-align: left;
  line-height: 0.934rem;
}

.text_5 {
  width: 15.414rem;
  height: 1.76rem;
  overflow-wrap: break-word;
  color: rgba(46, 47, 62, 1);
  font-size: 0.64rem;
  font-family: Poppins-Bold;
  font-weight: 700;
  text-align: left;
  line-height: 0.934rem;
}

.text_6 {
  width: 15.414rem;
  height: 1.76rem;
  overflow-wrap: break-word;
  color: rgba(69, 64, 214, 1);
  font-size: 0.64rem;
  font-family: Poppins-Bold;
  font-weight: 700;
  text-align: left;
  line-height: 0.934rem;
}

.paragraph_1 {
  width: 15.414rem;
  height: 3.52rem;
  overflow-wrap: break-word;
  color: rgba(46, 47, 62, 1);
  font-size: 0.48rem;
  font-family: Montserrat-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 0.587rem;
  margin-top: 0.534rem;
}

.box_1 {
  width: 14.614rem;
  height: 2.934rem;
  margin-top: 0.614rem;
}

.text_7 {
  width: 7.814rem;
  height: 0.774rem;
  overflow-wrap: break-word;
  color: rgba(69, 64, 214, 1);
  font-size: 0.64rem;
  font-family: Montserrat-SemiBold;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.774rem;
  margin-top: 1.494rem;
}

.image_2 {
  width: 4.534rem;
  height: 2.934rem;
}

.box_2 {
  background-color: rgba(69, 64, 214, 0.2);
  border-radius: 4px;
  width: 6rem;
  height: 1.28rem;
  margin-top: 0.134rem;
}

.image-text_1 {
  width: 4.934rem;
  height: 0.64rem;
  margin: 0.347rem 0 0 0.534rem;
}

.text-group_2 {
  width: 4.134rem;
  height: 0.507rem;
  overflow-wrap: break-word;
  color: rgba(69, 64, 214, 1);
  font-size: 0.426rem;
  font-family: Montserrat-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.507rem;
  margin-top: 0.054rem;
}

.label_1 {
  width: 0.64rem;
  height: 0.64rem;
}

.block_6 {
  width: 15.467rem;
  height: 11.094rem;
}

.group_2 {
  width: 15.2rem;
  height: 1.04rem;
  margin-left: 0.267rem;
}

.group_3 {
  background-color: rgba(255, 165, 58, 1);
  border-radius: 50%;
  width: 0.214rem;
  height: 0.214rem;
  margin-top: 0.4rem;
}

.text-wrapper_3 {
  height: 1.04rem;
  background: url(https://btcdomains.io/images/img/SketchPng9f1da970affb5dcad8fc8ef9b653a90db5130e0d15c590ccedeac94a4ced0fd1.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 14.667rem;
}

.text_8 {
  width: 4.587rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 165, 58, 1);
  font-size: 0.48rem;
  font-family: Montserrat-BoldItalic;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.214rem 0 0 -0.08rem;
}

.group_4 {
  background-color: rgba(53, 54, 65, 1);
  border-radius: 5px;
  width: 15.467rem;
  height: 3.947rem;
  margin-top: 0.587rem;
}

.block_7 {
  width: 1.627rem;
  height: 0.454rem;
  margin: 0.267rem 0 0 0.267rem;
}

.group_5 {
  background-color: rgba(255, 165, 58, 1);
  border-radius: 50%;
  width: 0.214rem;
  height: 0.214rem;
  margin-top: 0.134rem;
}

.text_9 {
  width: 1.254rem;
  height: 0.454rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.32rem;
  font-family: Poppins-Italic;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.48rem;
}

.paragraph_2 {
  width: 14.827rem;
  height: 2.614rem;
  overflow-wrap: break-word;
  color: rgba(167, 169, 190, 1);
  font-size: 0.32rem;
  font-family: Poppins-Italic;
  font-weight: NaN;
  text-align: left;
  line-height: 0.454rem;
  margin: 0.214rem 0 0.4rem 0.374rem;
}

.group_6 {
  width: 12.134rem;
  height: 1.28rem;
  margin-left: 0.454rem;
}

.text_10 {
  width: 0.587rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(69, 64, 214, 1);
  font-size: 0.48rem;
  font-family: AppleColorEmoji;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-top: 0.534rem;
}

.text_11 {
  width: 2rem;
  height: 0.427rem;
  overflow-wrap: break-word;
  color: rgba(69, 64, 214, 1);
  font-size: 0.346rem;
  font-family: Montserrat-BoldItalic;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.427rem;
  margin: 0.774rem 0 0 0.054rem;
}

.box_3 {
  width: 9.707rem;
  height: 1.2rem;
  background: url(https://btcdomains.io/images/img/SketchPnga8f2210504223625ed20c2cf8e9e9f16050b0c64c1ff89d5a144f15f27b79cc9.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: -0.213rem;
}

.group_7 {
  box-shadow: 0px 10px 40px 0px rgba(79, 121, 225, 0.16);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  width: 15.467rem;
  height: 4.054rem;
  border: 1px solid rgba(230, 231, 241, 1);
  margin-top: 0.187rem;
}

.image_3 {
  width: 3.52rem;
  height: 3.52rem;
  margin: 0.267rem 0 0 0.267rem;
}

.section_2 {
  width: 11.147rem;
  height: 3.52rem;
  margin: 0.267rem 0.267rem 0 0;
}

.text-wrapper_4 {
  background-color: rgba(69, 64, 214, 0.1);
  border-radius: 2px;
  width: 11.147rem;
  height: 0.8rem;
}

.text_12 {
  width: 1.014rem;
  height: 0.4rem;
  overflow-wrap: break-word;
  color: rgba(46, 47, 62, 1);
  font-size: 0.32rem;
  font-family: Montserrat-SemiBold;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.4rem;
  margin: 0.214rem 0 0 0.267rem;
}

.text_13 {
  width: 2.374rem;
  height: 0.4rem;
  overflow-wrap: break-word;
  color: rgba(46, 47, 62, 1);
  font-size: 0.32rem;
  font-family: Montserrat-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.4rem;
  margin: 0.214rem 7.12rem 0 0.374rem;
}

.text-wrapper_5 {
  background-color: rgba(69, 64, 214, 0.06);
  border-radius: 2px;
  width: 11.147rem;
  height: 0.8rem;
  margin-top: 0.107rem;
}

.text_14 {
  width: 1.12rem;
  height: 0.4rem;
  overflow-wrap: break-word;
  color: rgba(46, 47, 62, 1);
  font-size: 0.32rem;
  font-family: Montserrat-SemiBold;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.4rem;
  margin: 0.214rem 0 0 0.267rem;
}

.text_15 {
  width: 9.547rem;
  height: 0.4rem;
  overflow-wrap: break-word;
  color: rgba(46, 47, 62, 1);
  font-size: 0.32rem;
  font-family: Montserrat-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.4rem;
  margin: 0.214rem -0.054rem 0 0.267rem;
}

.image_4 {
  width: 11.147rem;
  height: 1.707rem;
  margin-top: 0.107rem;
}

.section_3 {
  background-color: rgba(255, 255, 255, 1);
  width: 51.2rem;
  height: 63.814rem;
  margin-top: -0.026rem;
}

.text_16 {
  width: 7.254rem;
  height: 2.107rem;
  overflow-wrap: break-word;
  color: rgba(46, 47, 62, 1);
  font-size: 1.493rem;
  font-family: Poppins-SemiBold;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 2.267rem;
  margin: 1.6rem 0 0 21.974rem;
}

.box_4 {
  background-color: rgba(233, 235, 250, 1);
  border-radius: 20px;
  width: 31.467rem;
  height: 15.947rem;
  margin: 1.067rem 0 0 9.867rem;
}

.text_17 {
  width: 8.32rem;
  height: 0.907rem;
  overflow-wrap: break-word;
  color: rgba(46, 47, 62, 1);
  font-size: 0.746rem;
  font-family: Montserrat-Bold;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 0.907rem;
  margin: 1.334rem 0 0 11.574rem;
}

.group_8 {
  background-color: rgba(69, 64, 214, 1);
  border-radius: 3px;
  width: 0.534rem;
  height: 0.107rem;
  margin: 0.534rem 0 0 15.467rem;
}

.text-wrapper_6 {
  width: 15.467rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: Montserrat-SemiBold;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.8rem 0 0 8rem;
}

.text_18 {
  width: 15.467rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(46, 47, 62, 1);
  font-size: 0.48rem;
  font-family: Montserrat-SemiBold;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.text_19 {
  width: 15.467rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(46, 47, 62, 1);
  font-size: 0.48rem;
  font-family: Montserrat-SemiBold;
  text-decoration: underline;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.text_20 {
  width: 15.467rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(46, 47, 62, 1);
  font-size: 0.48rem;
  font-family: Montserrat-SemiBold;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.group_9 {
  background-color: rgba(69, 64, 214, 0.05);
  border-radius: 4px;
  width: 7.04rem;
  height: 1.28rem;
  margin: 0.534rem 0 0 12.214rem;
}

.image-text_2 {
  width: 5.974rem;
  height: 0.64rem;
  margin: 0.347rem 0 0 0.534rem;
}

.text-group_3 {
  width: 5.174rem;
  height: 0.507rem;
  overflow-wrap: break-word;
  color: rgba(69, 64, 214, 1);
  font-size: 0.426rem;
  font-family: Montserrat-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.507rem;
  margin-top: 0.054rem;
}

.label_2 {
  width: 0.64rem;
  height: 0.64rem;
}

.group_10 {
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/3b41c1accc564568afe2724983026a20_mergeImage.png);
  border-radius: 10px;
  width: 20.8rem;
  height: 7.467rem;
  margin: 0.8rem 0 1.6rem 5.334rem;
}

.box_5 {
  background-color: rgba(248, 242, 220, 1);
  border-radius: 20px;
  width: 31.467rem;
  height: 18.347rem;
  margin: 0.534rem 0 0 9.867rem;
}

.text_21 {
  width: 23.094rem;
  height: 0.907rem;
  overflow-wrap: break-word;
  color: rgba(46, 47, 62, 1);
  font-size: 0.746rem;
  font-family: Montserrat-Bold;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 0.907rem;
  margin: 1.334rem 0 0 4.187rem;
}

.group_11 {
  background-color: rgba(238, 161, 25, 1);
  border-radius: 3px;
  width: 0.534rem;
  height: 0.107rem;
  margin: 0.534rem 0 0 15.467rem;
}

.image_5 {
  width: 20.8rem;
  height: 14.134rem;
  margin: 0.534rem 0 0.8rem 5.334rem;
}

.box_6 {
  width: 31.467rem;
  height: 18.347rem;
  margin: 0.534rem 0 5.334rem 9.867rem;
}

.group_12 {
  background-color: rgba(216, 229, 255, 1);
  border-radius: 20px;
  position: relative;
  width: 15.467rem;
  height: 18.347rem;
}

.text_22 {
  width: 12.8rem;
  height: 0.907rem;
  overflow-wrap: break-word;
  color: rgba(46, 47, 62, 1);
  font-size: 0.746rem;
  font-family: Montserrat-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.907rem;
  margin: 1.334rem 0 0 1.334rem;
}

.group_13 {
  background-color: rgba(64, 108, 214, 1);
  border-radius: 3px;
  width: 0.534rem;
  height: 0.107rem;
  margin: 0.267rem 0 0 1.334rem;
}

.image-text_3 {
  height: 3.787rem;
  width: 6.32rem;
  margin: 4.854rem 0 0 1.414rem;
}

.image-wrapper_1 {
  width: 0.587rem;
  height: 3.787rem;
  margin-left: 5.734rem;
}

.image_6 {
  width: 0.587rem;
  height: 3.787rem;
}

.text-wrapper_7 {
  width: 5.707rem;
  height: 0.96rem;
  margin: -2.16rem 0 1.2rem 0;
}

.text-group_4 {
  width: 5.707rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  color: rgba(69, 64, 214, 1);
  font-size: 0.373rem;
  font-family: Montserrat-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 0.48rem;
}

.group_14 {
  height: 8.587rem;
  background: url(https://btcdomains.io/images/img/SketchPng0b4aaabd67c4ea30ba40447df9854958f20013233586cf3ace4b158d8eb43fe8.png) -0.027rem -0.027rem
    no-repeat;
  background-size: 5.814rem 8.614rem;
  width: 5.787rem;
  margin: -2.16rem 0 0 8.347rem;
}

.box_7 {
  width: 5.814rem;
  height: 6.8rem;
  background: url(https://btcdomains.io/images/img/SketchPng542c34ba03f600869e7dec33c0daea1d3656011401b1bedcff34aa8e49bbdf06.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 1.787rem 0 0 -0.027rem;
}

.group_15 {
  height: 6.427rem;
  background: url(https://btcdomains.io/images/img/SketchPng023ead293d98295a37b5f16cf28e3ce8fac53b2fae932153eff9bba00d234f20.png)
    0rem -0.027rem no-repeat;
  background-size: 5.814rem 6.454rem;
  width: 5.787rem;
  margin: -7.2rem 0 1.44rem 1.334rem;
}

.box_8 {
  width: 5.814rem;
  height: 5.894rem;
  background: url(https://btcdomains.io/images/img/SketchPng2b6a6d1fcdbef7a6e6821969f0c21b030573796b9bd5dac17d4b5e08c7f244f2.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 0.534rem;
}

.image-text_4 {
  position: absolute;
  left: 1.414rem;
  top: 3.947rem;
  width: 12.667rem;
  height: 5.147rem;
}

.group_16 {
  box-shadow: 11px 11px 44px 0px rgba(14, 30, 70, 0.3);
  border-radius: 10px;
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/4163689bfd59439fb62c861f96b9259b_mergeImage.png);
  height: 4rem;
  width: 12.667rem;
}

.block_8 {
  border-radius: 10px;
  width: 12.667rem;
  height: 4rem;
  border: 4.368852459016393px solid rgba(216, 224, 255, 1);
}

.image_7 {
  width: 0.64rem;
  height: 1.627rem;
  margin: -0.48rem 0 0 6.294rem;
}

.text-group_5 {
  width: 4.934rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(69, 64, 214, 1);
  font-size: 0.373rem;
  font-family: Montserrat-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.48rem;
  margin: -0.614rem 0 0.134rem 7.36rem;
}

.group_17 {
  background-color: rgba(216, 229, 255, 1);
  border-radius: 20px;
  position: relative;
  width: 15.467rem;
  height: 18.347rem;
  justify-content: flex-center;
}

.text_23 {
  width: 12.8rem;
  height: 0.907rem;
  overflow-wrap: break-word;
  color: rgba(46, 47, 62, 1);
  font-size: 0.746rem;
  font-family: Montserrat-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.907rem;
  margin: 1.334rem 0 0 1.334rem;
}

.group_18 {
  background-color: rgba(64, 108, 214, 1);
  border-radius: 3px;
  width: 0.534rem;
  height: 0.107rem;
  margin: 0.267rem 0 0 1.334rem;
}

.group_19 {
  position: relative;
  width: 12.8rem;
  height: 13.094rem;
  margin: 1.334rem 0 1.307rem 1.334rem;
}

.group_20 {
  width: 10.667rem;
  height: 12.667rem;
  margin-left: 2.134rem;
}

.block_9 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 4.907rem;
  height: 3.92rem;
  border: 1.011904761904762px solid rgba(230, 231, 241, 1);
  margin: -0.027rem 0 0 5.76rem;
}

.text-wrapper_8 {
  border-radius: 5px;
  height: 0.694rem;
  width: 4.534rem;
  margin: 0.027rem 0 0 0.027rem;
}

.text_24 {
  width: 3.28rem;
  height: 0.347rem;
  overflow-wrap: break-word;
  color: rgba(46, 47, 62, 1);
  font-size: 0.24rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 0.347rem;
  margin: 0.214rem 0 0 0.214rem;
}

.image_8 {
  width: 4.427rem;
  height: 2.96rem;
  margin: 0 0 0.24rem 0.24rem;
}

.image-wrapper_2 {
  height: 1.414rem;
  background: url(https://btcdomains.io/images/img/SketchPngbbf30362933f8bba57d22dd0e79c09b31806c79ee12b6084fee743f57b14468c.png) -0.134rem -0.134rem
    no-repeat;
  background-size: 6.08rem 1.68rem;
  margin-top: -0.746rem;
  width: 5.814rem;
}

.image_9 {
  width: 4.534rem;
  height: 1.707rem;
  margin: 0.827rem 0 0 1.254rem;
}

.block_10 {
  background-color: rgba(246, 246, 252, 1);
  border-radius: 4px;
  width: 4.854rem;
  height: 0.774rem;
  border: 0.6181818181818182px solid rgba(69, 64, 214, 1);
  margin: -0.374rem 0 0 5.814rem;
}

.text_25 {
  width: 1.734rem;
  height: 0.374rem;
  overflow-wrap: break-word;
  color: rgba(46, 47, 62, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.16rem 0 0 0.32rem;
}

.thumbnail_1 {
  width: 0.267rem;
  height: 0.267rem;
  margin: 0.24rem 0.16rem 0 2.374rem;
}

.text-wrapper_9 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 0.774rem;
  border: 0.6181818181818182px solid rgba(167, 169, 190, 1);
  width: 4.854rem;
  margin: 0.32rem 0 0 5.814rem;
}

.text_26 {
  width: 3.707rem;
  height: 0.374rem;
  overflow-wrap: break-word;
  color: rgba(9, 12, 29, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.187rem 0 0 0.32rem;
}

.block_11 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  position: relative;
  width: 4.587rem;
  height: 6rem;
  border: 1.1111111111111112px solid rgba(230, 231, 241, 1);
  margin: 0.614rem 0 0.027rem 5.76rem;
}

.image-text_5 {
  width: 4.267rem;
  height: 4.8rem;
  margin: 0.16rem 0 0 0.16rem;
}

.block_12 {
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/d7ea6e6ed6534e21bdc7b220ecd71c43_mergeImage.png);
  border-radius: 6px;
  width: 4.267rem;
  height: 4.267rem;
}

.block_13 {
  width: 1.36rem;
  height: 1.68rem;
  background: url(https://btcdomains.io/images/img/SketchPngeb03eb031df967cd0519a464b9db7f4c49de93b77e5a09a38779f87ff2a18b59.png) -0.774rem -0.347rem
    no-repeat;
  background-size: 2.88rem 2.747rem;
  margin: 0.347rem 0 0 1.467rem;
}

.text_27 {
  width: 2.614rem;
  height: 0.427rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.453rem;
  font-family: CamarRegular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.427rem;
  margin: -1.04rem 0 0 0.827rem;
}

.text_28 {
  width: 3.574rem;
  height: 0.374rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.266rem;
  font-family: AlibabaPuHuiTi_2_105_Heavy;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 1.707rem 0 0.774rem 0.347rem;
}

.text-group_6 {
  width: 4.267rem;
  height: 0.267rem;
  margin-top: 0.267rem;
}

.text_29 {
  width: 2.907rem;
  height: 0.267rem;
  overflow-wrap: break-word;
  color: rgba(9, 12, 29, 1);
  font-size: 0.186rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 0.267rem;
}

.text_30 {
  width: 1.227rem;
  height: 0.214rem;
  overflow-wrap: break-word;
  color: rgba(167, 169, 190, 1);
  font-size: 0.16rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.214rem;
}

.block_14 {
  width: 4.267rem;
  height: 0.48rem;
  margin: 0.24rem 0 0.32rem 0.16rem;
}

.text-wrapper_10 {
  background-color: rgba(9, 12, 29, 1);
  border-radius: 12px;
  height: 0.48rem;
  width: 1.627rem;
}

.text_31 {
  width: 1.094rem;
  height: 0.267rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.186rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.267rem;
  margin: 0.107rem 0 0 0.267rem;
}

.group_21 {
  background-color: rgba(46, 47, 62, 0.05);
  border-radius: 12px;
  width: 1.014rem;
  height: 0.48rem;
}

.image-text_6 {
  width: 0.827rem;
  height: 0.214rem;
  margin: 0.134rem 0 0 0.107rem;
}

.thumbnail_2 {
  width: 0.214rem;
  height: 0.214rem;
}

.text-group_7 {
  width: 0.56rem;
  height: 0.214rem;
  overflow-wrap: break-word;
  color: rgba(9, 12, 29, 1);
  font-size: 0.16rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.214rem;
}

.image_10 {
  position: absolute;
  left: -6.133rem;
  top: 4.32rem;
  width: 6.16rem;
  height: 0.027rem;
}

.group_22 {
  box-shadow: 10px -8px 40px 0px rgba(14, 30, 70, 0.3);
  border-radius: 10px;
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/748e7bc19ce842e4875a1ce0b68a8b42_mergeImage.png);
  height: 13.094rem;
  width: 6.267rem;
  position: absolute;
  left: 0;
  top: 0;
}

.image-wrapper_3 {
  border-radius: 10px;
  height: 13.094rem;
  border: 4.368852459016393px solid rgba(178, 194, 255, 1);
  width: 6.267rem;
}

.image_11 {
  width: 3.04rem;
  height: 0.267rem;
  margin: 1.28rem 0 0 4.907rem;
}

.group_23 {
  position: absolute;
  left: 0.427rem;
  top: 12.374rem;
  width: 8.854rem;
  height: 5.52rem;
  background: url(https://btcdomains.io/images/img/SketchPng49f76b40ef3e5af165344b86ecb82a5e7d79f68313a98e0709c4a84604d2c3aa.png) -0.027rem
    0rem no-repeat;
  background-size: 8.88rem 5.52rem;
}

.section_4 {
  width: 51.2rem;
  height: 38.16rem;
  margin-bottom: 0.027rem;
}

.box_9 {
  background-color: rgba(87, 82, 235, 1);
  width: 51.2rem;
  height: 22.934rem;
}

.text_32 {
  width: 32rem;
  height: 3.627rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.493rem;
  font-family: Montserrat-SemiBold;
  font-weight: NaN;
  text-align: center;
  line-height: 1.814rem;
  margin: 2.134rem 0 0 9.6rem;
}

.image_12 {
  width: 15.467rem;
  height: 0.027rem;
  margin: 2.107rem 0 0 9.867rem;
}

.group_24 {
  width: 31.467rem;
  height: 12.214rem;
  margin: 0 0 2.827rem 9.867rem;
}

.group_25 {
  width: 15.494rem;
  height: 10.72rem;
  margin-top: 1.334rem;
}

.section_5 {
  width: 14.934rem;
  height: 1.28rem;
  margin-left: 0.534rem;
}

.label_3 {
  width: 0.96rem;
  height: 0.96rem;
  margin-top: 0.16rem;
}

.text_33 {
  width: 13.334rem;
  height: 1.28rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.533rem;
  font-family: Montserrat-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 0.64rem;
}

.image_13 {
  width: 1.04rem;
  height: 1.6rem;
  margin: 0.347rem 0 0 0.64rem;
}

.section_6 {
  width: 14.96rem;
  height: 2.56rem;
  margin: 0.187rem 0 0 0.534rem;
}

.label_4 {
  width: 0.96rem;
  height: 0.96rem;
  margin-top: 0.214rem;
}

.text_34 {
  width: 13.334rem;
  height: 2.56rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.533rem;
  font-family: Montserrat-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 0.64rem;
}

.image_14 {
  width: 12.8rem;
  height: 0.027rem;
  margin-top: 1.307rem;
}

.section_7 {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  width: 8.347rem;
  height: 1.28rem;
  margin-top: 2.134rem;
}

.image-text_7 {
  width: 7.174rem;
  height: 0.64rem;
  margin: 0.347rem 0 0 0.534rem;
}

.text-group_8 {
  width: 6.374rem;
  height: 0.507rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: Montserrat-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.507rem;
  margin-top: 0.054rem;
}

.label_5 {
  width: 0.64rem;
  height: 0.64rem;
}

.group_26 {
  border-radius: 20px;
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/475aa8c7f6434b479a1599f217eabf58_mergeImage.png);
  height: 12.214rem;
  width: 15.467rem;
}

.block_15 {
  border-radius: 20px;
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/01a5593aa93847d5b98f49515791d4fe_mergeImage.png);
  width: 7.467rem;
  height: 5.307rem;
  margin: 7.52rem 0 0 -2.667rem;
}

.box_10 {
  background-color: rgba(255, 255, 255, 1);
  height: 12.534rem;
  width: 51.2rem;
  position: relative;
}

.group_27 {
  width: 32rem;
  height: 5.867rem;
  background: url(https://btcdomains.io/images/img/SketchPngeb9adf2dfc0c43eea1e414460067b25c892c851779b4ec508fade61eaca86e32.png) -1.36rem -1.36rem
    no-repeat;
  background-size: 34.72rem 8.587rem;
  margin: 4rem 0 0 9.6rem;
}

.group_28 {
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/a319cd66a14c4c508c9ae88a47999c3f_mergeImage.png);
  border-radius: 30px;
  position: absolute;
  left: 9.6rem;
  top: 2.667rem;
  width: 32rem;
  height: 6.934rem;
  border: 1px solid rgba(255, 255, 255, 1);
}

.box_11 {
  width: 13.174rem;
  height: 3.227rem;
  margin: 2.667rem 0 0 1.067rem;
}

.text_35 {
  width: 13.174rem;
  height: 0.774rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.64rem;
  font-family: Montserrat-SemiBold;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.774rem;
}

.section_8 {
  background-color: rgba(69, 64, 214, 1);
  border-radius: 10px;
  width: 4.8rem;
  height: 1.387rem;
  margin-top: 1.067rem;
}

.image-text_8 {
  width: 2.507rem;
  height: 0.64rem;
  margin: 0.374rem 0 0 1.147rem;
}

.text-group_9 {
  width: 1.707rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin-top: 0.027rem;
}

.label_6 {
  width: 0.64rem;
  height: 0.64rem;
}

.box_12 {
  position: relative;
  width: 14.347rem;
  height: 6.934rem;
  background: url(https://btcdomains.io/images/img/SketchPng4fee50922fdd9a990fabd0d776b57b4ccf979213669419594c1a68c913da4e25.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 3.414rem;
}

.section_9 {
  position: absolute;
  left: 1.6rem;
  top: 3.12rem;
  width: 8.827rem;
  height: 5.12rem;
  background: url(https://btcdomains.io/images/img/SketchPng60461a5cfc66595ac948c436f66cc301c453c05c4fdd2ce438857aea8b4fa151.png) -0.507rem -0.614rem
    no-repeat;
  background-size: 9.867rem 4.427rem;
}

.image_15 {
  position: absolute;
  left: 1.44rem;
  top: 0;
  width: 12.907rem;
  height: 6.934rem;
}

.box_13 {
  background-color: rgba(255, 255, 255, 1);
  width: 51.2rem;
  height: 2.667rem;
  margin-bottom: 0.027rem;
  justify-content: flex-center;
}

.image_16 {
  width: 4.214rem;
  height: 0.8rem;
  margin: 0.934rem 0 0 9.6rem;
}

.label_7 {
  width: 1.067rem;
  height: 1.067rem;
  margin: 0.8rem 0 0 7.254rem;
}

.label_8 {
  width: 1.067rem;
  height: 1.067rem;
  margin: 0.8rem 0 0 0.267rem;
}

.label_9 {
  width: 1.067rem;
  height: 1.067rem;
  margin: 0.8rem 0 0 0.267rem;
}

.label_10 {
  width: 1.067rem;
  height: 1.067rem;
  margin: 0.8rem 0 0 0.267rem;
}

.label_11 {
  width: 1.067rem;
  height: 1.067rem;
  margin: 0.8rem 0 0 0.267rem;
}

.label_12 {
  width: 1.067rem;
  height: 1.067rem;
  margin: 0.8rem 0 0 0.267rem;
}

.label_13 {
  width: 1.067rem;
  height: 1.067rem;
  margin: 0.8rem 0 0 0.267rem;
}

.image-text_9 {
  width: 4.72rem;
  height: 0.534rem;
  margin: 1.067rem 9.6rem 0 6.747rem;
}

.thumbnail_3 {
  width: 0.534rem;
  height: 0.534rem;
}

.text-group_10 {
  width: 4.08rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(46, 47, 62, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}

.section_10 {
  position: absolute;
  left: 0;
  top: 0;
  width: 51.2rem;
  height: 24rem;
  background: url(https://btcdomains.io/images/img/SketchPng184affea8a93d9a5b2029c0e4d092a531425af8b2f732b37d98851bf2e1301cf.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.group_29 {
  width: 51.2rem;
  height: 1.867rem;
  background: url(https://btcdomains.io/images/img/SketchPnga86be5a9a2437d3e8568f6f056964e7ef2a72267a478fe6218e343801fbd2fd4.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_17 {
  width: 5.04rem;
  height: 0.8rem;
  margin: 0.534rem 0 0 0.8rem;
}

.text-wrapper_11 {
  border-radius: 20px;
  height: 1.067rem;
  width: 3.147rem;
  margin: 0.4rem 0 0 0.8rem;
}

.text_36 {
  width: 2.08rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.24rem 0 0 0.534rem;
}

.text-wrapper_12 {
  border-radius: 20px;
  height: 1.067rem;
  width: 3.147rem;
  margin: 0.4rem 0 0 0.267rem;
}

.text_37 {
  width: 2.08rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.24rem 0 0 0.534rem;
}

.block_16 {
  height: 1.867rem;
  margin-left: 32.4rem;
  width: 5.6rem;
}

.text-wrapper_13 {
  box-shadow: 0px 6px 10px 0px rgba(46, 42, 189, 0.3);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  height: 1.067rem;
  width: 3.52rem;
  margin: 0.4rem 0 0 1.547rem;
}

.text_38 {
  width: 2.454rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(69, 64, 214, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0.267rem 0 0 0.534rem;
}

.text_39 {
  width: 20.16rem;
  height: 2.374rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.706rem;
  font-family: Poppins-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 2.534rem;
  margin: 2.667rem 0 0 15.52rem;
}

.text_40 {
  width: 20.16rem;
  height: 0.614rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: Poppins-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.667rem;
  margin: 0.56rem 0 15.92rem 15.52rem;
}

.group_30 {
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/9a90553a38e54e30aa37982a4a9fa742_mergeImage.png);
  height: 16.667rem;
  width: 34.24rem;
  position: absolute;
  left: 8.48rem;
  top: 8.347rem;
}

.box_14 {
  background-color: rgba(69, 64, 214, 0.3);
  border-radius: 10px;
  width: 4.8rem;
  height: 1.387rem;
  margin: 0.534rem 0 0 14.72rem;
}

.text_41 {
  width: 1.707rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.4rem 0 0 1.174rem;
}

.label_14 {
  width: 0.64rem;
  height: 0.64rem;
  margin: 0.374rem 1.174rem 0 0;
}

.text-wrapper_14 {
  background-color: rgba(69, 64, 214, 1);
  border-radius: 44px;
  height: 2.374rem;
  width: 5.334rem;
  position: absolute;
  left: 21.28rem;
  top: 4.56rem;
}

.text_42 {
  width: 4.267rem;
  height: 2.374rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.706rem;
  font-family: Poppins-MediumItalic;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 2.534rem;
  margin-left: 0.534rem;
}
